p {color: red;}




p {font-family: Arial;
    font-size: 11pt;
    margin-left: 15pt;
    color: green;}


label {color: blue;}



ul{list-style: none;
    padding=0 ;
    margin=0 }
    

li{ padding-left: lem ;
text-indent: -.7 em ;

}
    
li:before{content: ".";
color:blue;
margin-right: 4px;
}


.col {background-color:white;}

.white {background-color: white;}
.container{background-color: tomato;}

